<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>aaaa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B04014D61B52585000F6D882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B04014DA1B52598F00F6D882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B04014EC1B525A4500F6D882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B04014F81B525BE500F6D882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B05EBC2A1A0C63F1003B0F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B05EBC431A0C63F1003B0F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
